# Project file
push_swap
checker
checker_Mac
checker_linux
push_swap_tester*
*_test.c

# General
.DS_Store

# Editor
.vscode

# Prerequisites
*.d

# Object files
*.o

# Libraries
*.lib
*.a

# Executables
*.exe
*.out

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
